<div class="row">
    {{#if error}}
    <div class="reg-err"><p>{{error}}</p></div>
    {{/if}}
    {{#if loginPassErr}}
    <div class="reg-err"><p>{{loginPassErr}}</p></div>
    {{/if}}
    <div id="login" class="col s6 offset-s3">
        <h1>Забыли пароль?</h1>
        <form action="/auth/reset" method="post">
            <div class="input-field">
                <input name="email" id="email" type="email" class="validate" required="required">
                <label for="email">Введите ваш email:</label>
                <span class="helper-text" data-error="Некорректный email"></span>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn btn-primary">Сбросить пароль</button>
        </form>
    </div>
</div>