main{
    text-align: center;
}

.nav-wrapper{
    padding: 0 1.6rem;
}

.card .card-content{
    padding: 1rem .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card .card-content .card-title{
    line-height: 1.4rem;
}

.card .card-title{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.card .card-action{
    text-align: center;
}

.card .price{
    font-size: 1.2rem;
    font-weight: 600;
}

.card .price::after{
    content: 'UAH';
    margin-left: 4px;
    font-weight: 400;
    font-size: 1rem;
}

.brand-logo img{
    width: 40px;
    display: block;
    margin-top: .8rem;
}

.card .card-image img{
    height: 280px;
    object-fit: fill;
}

/* Корзина */

.cart, .order-head{
    text-align: center;
    border-bottom: 1px solid #1b4b59;
    padding-bottom: 15px;
}

.card .card-action a{
    display: block;
    margin-right: 0 !important;
    margin-bottom: 8px;
}

.card .card-action a i{
    font-style: normal;
}

.card .card-action a:hover i{
    border-bottom: 1px solid #ffab40;
}

.basket-act{
    text-align: center;
}

.basket-price span{
    font-weight: 600;
}

.basket-empty{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket-empty p{
    font-size: 1.5rem;
}

.basket-empty img{
    width: 100px;
    margin: 15px 0;
}

.basket-empty a{
    font-weight: 600;
}

.basket-empty a:hover, .basket-continue a:hover{
    text-decoration: underline;
}

/* Orders */
.bk-orders{
    margin: .5rem 0;
}

/* Логин/Регистрация */
.auth{
    padding-top: .2rem;
}

.reg-err{
    display: table;
    margin: 0 auto;
}

.reg-err p{
    text-align: center;
    background-color: #f44336;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
}

.head__center{
    text-align: center;
}

/* 404 Page */
.page__404{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.not-found{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.not-found span{
    font-size: 2.5rem;
    font-weight: 600;
}

.page__404 a{
    font-size: 1.5rem;
}

.page__404 a:hover{
    text-decoration: underline;
}

/* Profile */

.avatar{
    max-width: 300px;
    height: auto;
}

.avatar__email{
    font-weight: 700;
}

/* FORGET PASS */
.forget__pass{
    text-align: center;
}

.forget__pass a:hover{
    text-decoration: underline;
}